.cities {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

@media (min-width: 768px) {
  .cities {
    grid-template-columns: repeat(6, calc(100% / 6));
    grid-template-rows: 1fr;
  }
}
