.city {
  position: relative;
  height: calc(33.33vh - 1rem - 20px);
  padding: 0.5rem;
  text-align: center;
  color: var(--white);
  text-decoration: none;
}

.city:nth-child(2),
.city:nth-child(3),
.city:nth-child(6) {
  background: var(--gray);
}

.city > .geolocated {
  position: absolute;
  top: 10px;
  left: 10px;
  opacity: 0.2;
  font-size: 20px;
}

.city > img {
  margin-top: 0rem;
  max-width: 70%;
}

.city > h1 {
  font-size: 120%;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.city > .weather {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 0;
}

@media (min-width: 768px) {
  .city {
    height: calc(100vh - 1rem - 60px);
    padding: 0.5rem;
    text-align: center;
    color: var(--white);
    text-decoration: none;
  }

  .city:nth-child(odd) {
    background: var(--black);
  }

  .city:nth-child(even) {
    background: var(--gray);
  }

  .city > img {
    margin-top: 3rem;
  }
}
