.forecast {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 0 0.6rem;
}

.forecast > h2 {
  width: 100%;
  font-size: 95%;
  margin-top: 0;
}

.forecast > img {
  height: 48px;
  margin-bottom: 0.5rem;
}

.forecast > .weather {
  text-align: left;
  margin: 0 auto;
}

.forecast > .weather > div{
  margin-top: 5px;
}
