.header {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  width: calc(100% - 2.4rem);
  padding: 0 1.2rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.header > h2 {
  text-align: center;
  font-size: 1.2rem;
  flex: 1;
}

.header > a {
  height: 24px;
}

.header > a:active {
  outline: none;
}
