:root {
  --white: #e9ecef;
  --gray: #323a45;
  --black: #2b3036;
}

body {
  margin: 0;
  padding: 0;
  color: var(--white);
  background: var(--black);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.bg-gray {
  background: var(--gray);
}

.bg-black {
  background: var(--black);
}

.hide {
  visibility: hidden;
}

.pointer {
  cursor: pointer;
}

a,
a:focus {
  color: var(--white);
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:focus * {
  outline: none;
}

a.underline {
  text-decoration: underline;
}
